<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내 계좌</title>
</head>
<body>
<h1>내 계좌</h1>
    <div id="first" style="margin-top: 30px;">
		<table class="table table-bordered" width="600px" border="1px" align="center">
			<thead>
				<tr>
					<th>총자산</th><th>주식</th><th>현금</th>
				</tr>
			</thead>
			<tbody id="tbody">

				<tr id="#" border = "1px" style='text-align: center;'>
					<td>{{session_user_amt}}</td>
                    <td>2</td>
                    <td>3</td>
				</tr>
			</tbody>
		</table>
	</div>

<div id="second" style="margin-top: 30px;">
		<table class="table table-bordered" width="600px" border="1px" align="center">
			<thead>
				<tr>
					<th>종목</th><th>현재가</th><th>전일대비</th><th>수량</th><th>수익률</th><th>매입가</th>
				</tr>
			</thead>
			<tbody id="tbody">
				<tr id="#" border = "1px" style='text-align: center;'>
					<td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>