<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sTrade_list</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style>
		#first {
		width:48%;
		float: left;

		}
		#second {
		width: 48%;
		float: left;
		}
</style>

</head>
<body>
	<div id="first" style="margin-top: 30px;">
		<table class="table table-bordered" width="600px" border="1px" align="center">
			<thead>
				<tr>
					<th style="width: 10px">종목</th><th>현재가</th><th>전일가</th><th>전일대비</th><th>변동율</th>
				</tr>
			</thead>
			<tbody id="tbody">
				{% for sTrade in sTrades %}
				<tr id="now_sTrade_{{forloop.counter0}}" copyId="now_sTrade_{{forloop.counter0}}" trCode="{{sTrade.code}}" onclick="detail_order(this)" border = "1px" style='text-align: center;'>
					<td width="100" name="name" id="td_sTrade_name_{{forloop.counter0}}">{{sTrade.name}}</td>
					<td width="100" name="price" id="td_sTrade_price_{{forloop.counter0}}">{{sTrade.price}}</td>
					<td width="100" name="d_1price" id="td_sTrade_d_1price_{{forloop.counter0}}">{{sTrade.d_1price}}</td>
					<td width="100" name="change" id="td_sTrade_change_{{forloop.counter0}}">{{sTrade.change}}</td>
					<td width="100" name="ch_rate" id="td_sTrade_ch_rate_{{forloop.counter0}}">{{sTrade.ch_rate}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="second" style="margin-top: 30px;">
		<table class="table table-bordered" width="300px" border="1px" style='text-align: center;' align="center">
			<thead>
				<tr>
					<th id="sTrade_Form_th1" style="">매수</th><th id="sTrade_Form_th2">매도</th>
				</tr>
			</thead>
			<tbody id="tbody2">
				<tr>
					<td width="100" >종목</td>
					<td width="100" id="sTrade_Form_dname"></td>
				</tr>
				<tr>
					<td width="100" >현재가</td>
					<td width="100" id="sTrade_Form_dprice"></td>
				</tr>
				<tr>
					<td width="100" id="sTrade_Form_wprice_txt" >매수가</td>
					<td width="100"><input type="text" id="sTrade_Form_wprice" value="" style="text-align: center;"></td>
				</tr>
				<tr>
					<td width="100" >수량</td>
					<td width="100">
						<input type="text" id="sTrade_Form_dquan" value="" style="text-align: center;">
					</td>
				</tr>
				<tr>
					<td width="100" colspan='2'><button id="bsBtn" type="button" onclick="">매수</button>
						<input type="text" id="sTrade_Form_dcode" value="" style="visibility:hidden;width: 0px;">
						<input type="text" id="sTrade_Form_gubun" value="" style="visibility:hidden;width: 0px;">
					</td>
				</tr>
			</tbody>
		</table>
	</div>


<script>
function detail_order(e){
	console.log( $(e).attr('trCode'));
	caller_Id = $(e).attr('copyId');
	console.log( "caller_Id : " + caller_Id);
	$.ajax({
		url : '../detail_order/',
		type : 'POST',
		data : {'csrfmiddlewaretoken' : '{{csrf_token}}',
				code : $(e).attr('trCode')},

		dataType : 'json',
		success : function(obj){
			console.log( "#^^#");
			$('#now_detail').remove();
			var count = false
			var txt = "";
			txt += "<tr id='now_detail'>"
			txt += "<td colspan='5'>"
			txt += "<table id='detail_order' class='table table-bordered' border='1px' width='350px' align='center'>"
			txt += "<thead>"
			txt += "<tr>"
			txt += "<th></th><th>호가</th><th>수량</th>"
			txt += "</tr>"
			txt += "</thead>"
			txt += "<tbody>"
			$.each(obj, function(idx, data){
				count = true;
				txt += "<tr copyId="+caller_Id+" trgubun="+data.gubun+" trCode="+data.code+ " dcode="+data.code+ " dname="+data.name+" dprice="+data.price+" dquan="+data.quan+" onclick=trade_preOrder(this)>"
				txt += "<td width='100px' style='text-align: center;'>"+data.name+"</td>"
				txt += "<td width='100px' style='text-align: center;'>"+getComma(data.price)+"</td>"
				txt += "<td width='100px' style='text-align: center;'>"+getComma(data.quan)+"</td>"
				txt += "</tr>"
			});
			txt += "</tbody>"
			txt += "</table>"
			txt += "</td>"
			txt += "</tr>"
			if(count == true){
				$('#'+caller_Id).after(txt);
				$('#detail_order > tbody > tr[trgubun="S"]').css("background-color","#A8C8F9");
				$('#detail_order > tbody > tr[trgubun="B"]').css("background-color","#FC9EBD");
			}

		},
		error:function(request, error){
			alert("fail");
			console.log("code:"+request.status+"message:"+request.responseText+"error:"+error);
		}
	});

}
function trade_preOrder(obj){

	var dcode = $(obj).attr('dcode');
	var dname = $(obj).attr('dname');
	var dprice = getComma($(obj).attr('dprice'));
	var dquan = $(obj).attr('dquan');
	var price = $("#tbody > tr[trCode = "+dcode+"] > td[name='price']").text();

	$('#sTrade_Form_dname').text(dname);
	$('#sTrade_Form_dprice').text(price);
	$('#sTrade_Form_wprice').val(dprice);
	$('#sTrade_Form_dquan').val(dquan);
	$('#sTrade_Form_dcode').val(dcode);
	$('#sTrade_Form_gubun').val('B');
	$('#bsBtn').text("매수");
	$('#bsBtn').css("background-color","#FC9EBD");
	$('#sTrade_Form_th1').css("background-color","#FC9EBD");
	$('#sTrade_Form_th2').css("background-color","#CFC3B5");
}
function updatesTrade(){
	$.ajax({
		url: '../sTrade_list/',
		type : 'POST',
		data : {'csrfmiddlewaretoken' : '{{csrf_token}}',
				typeST : 'update'},
		dataType : 'json',
		success: function(obj){
			$.each(obj, function(idx, data){
				$('#td_sTrade_name_'+idx).text(data.name);
				$('#td_sTrade_price_'+idx).text(getComma(data.price));
				$('#td_sTrade_d_1price_'+idx).text(getComma(data.d_1price));
				$('#td_sTrade_change_'+idx).text(getComma(data.change));
				$('#td_sTrade_ch_rate_'+idx).text(data.ch_rate + '%');
			});
		},
		error:function(request, error){
			alert("fail");
			console.log("code:"+request.status+"message:"+request.responseText+"error:"+error);
		}
	});
	timerID = setTimeout("updatesTrade()", 5000); // 5초 단위로 갱신 처리
}
function getComma(n) {
	var reg = /(^[+-]?\d+)(\d{3})/;
	n += '';
	while (reg.test(n))
		n = n.replace(reg, '$1' + ',' + '$2');
	return n;
}
function clearFormatNum(num) {
	if (num=="") return num;
	return String(num).replaceAll(",","");
}
function updatesDetail() {
	if ( $( "#now_detail" ).length ) {
		detail_order($('#detail_order > tbody > tr'));
	}
}
function formCheckNowPrice(){
	if ($("#sTrade_Form_dprice").text() != "" ) {

		var dcode = $("#sTrade_Form_dcode").val();
		var price = $("#tbody > tr[trCode = "+dcode+"] > td[name='price']").text();
		//price = $("#tbody > tr[trcode = '1'] > td[name='price']").text();
		$("#sTrade_Form_dprice").text(price);
	}
}
function sTrade_trade(){
	var name = $('#sTrade_Form_dname').text();
	var price = clearFormatNum($('#sTrade_Form_wprice').val());
	var quan = clearFormatNum($('#sTrade_Form_dquan').val());
	var code = clearFormatNum($('#sTrade_Form_dcode').val());
	var gubun = $('#sTrade_Form_gubun').val();

	$.ajax({
		url: '../sTrade_trade/',
		type : 'POST',
		data : {'csrfmiddlewaretoken' : '{{csrf_token}}',
				name : name,
				price : price,
				quan : quan,
				code : code,
				gubun : gubun },
		dataType : 'json',
		success: function(obj){
			alert('success? : '+ '여기까지?')
			$.each(obj, function(idx, data){
				console.log('success? : '+ data.success)
			});
		},
		error:function(request, error){
			alert("fail sTrade_trade");
			console.log("code:"+request.status+"message:"+request.responseText+"error:"+error);
		}
	});

}

function sTradeFormChange1(){
	$('#sTrade_Form_th1').css("background-color","#FC9EBD");
	$('#sTrade_Form_th2').css("background-color","#CFC3B5");
	$('#bsBtn').css("background-color","#FC9EBD");
	$('#bsBtn').text("매수");
	$('#sTrade_Form_wprice_txt').text("매수가");
	$('#sTrade_Form_gubun').val('B');
}
function sTradeFormChange2(){
	$('#sTrade_Form_th1').css("background-color","#CFC3B5");
	$('#sTrade_Form_th2').css("background-color","#A8C8F9");
	$('#bsBtn').css("background-color","#A8C8F9");
	$('#bsBtn').text("매도");
	$('#sTrade_Form_wprice_txt').text("매도가");
	$('#sTrade_Form_gubun').val('S');
}

</script>
<script>
$(document).ready(function(){
	$('#button01').click(function(){
		/*window.alert('searchBtn click');*/
		alert("^^")
	});
	updatesTrade();
	setInterval("updatesDetail()", 3000);
	setInterval("formCheckNowPrice()", 1000);
	$('#bsBtn').click(function(){
		/*window.alert('searchBtn click');*/
		alert("^^")
		sTrade_trade();
	});
	$('#sTrade_Form_th1').click(function(){
		sTradeFormChange1();
	});
	$('#sTrade_Form_th2').click(function(){
		sTradeFormChange2();
	});





})

</script>
</body>
</html>