<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
        <input type="hidden" name="id" id="id" value="{{board.id}}">

        <label>TITLE</label>
            <input type="text"
                   name="title"
                   value="{{board.title}}"
                   id="title"  >
        </div>
        <div>
            <label>WRITER</label>
            <input type="text"
                   name="writer"
                   value="{{board.writer}}"
                   readonly
                   id = 'writer'>
        </div>
        <div>
            <label>CONTENT</label>
            <textarea name="content" id="content">
                {{board.content}}
            </textarea>
        </div>
        <div align="center">
            <button type="button" id="removeBtn">삭제</button>
            <button type="button" id="updateBtn">수정</button>
            <button type="button" id="listBtn">목록</button>
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#listBtn').click(function() {
            alert('listbtn click')
            location.href = '../index' ;
        });
        $('#removeBtn').click(function() {
            alert('removebtn click')
            notice_id = $('#id').val()
            location.href = '../notice_remove?id='+notice_id
        });
        $('#updateBtn').click(function() {
            alert('updatebtn click')
            notice_id      = $('#id').val()
            notice_title   = $('#title').val()
            notice_content = $('#content').val()
            location.href = '../notice_update?id='+notice_id+'&title='+notice_title+'&content='+notice_content ;
        });
    })
</script>

</body>
</html>

